{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}

<div id="short" class="py-2">
    <div class="container">
        <div class="row">
            <div class="col">

                <form action="{{ url_for('routes_main.add' ) }}" method="post">
                    <div class="input-group mb-3">
                        <input type="url" name="shortLink" class="form-control" placeholder="https://google.com">
                        <button class="btn btn-outline-dark" type="submit" id="shortSubmit">Shorten!</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<div id="list" class="py-2">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Shortened Links ({{ links.count }})</h2>

                <ul>
                    {% for link in links.items %}
                    <li>
                        <b><a href="{{ url_for('routes_redirect.redirect_id', id=link['key']) }}">
                            {{ link["key"] }}
                        </a></b>: {{ link["value"] }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}
